<!DOCTYPE html>
<html>

<head>
  <title>Restoding</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Restoding Apps">
  <meta name="theme-color" content="#5800FF">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" href="/ico/favicon-96x96.png"/>
  <link rel="apple-touch-icon" href="/icon.png">
  <script src="https://kit.fontawesome.com/8dc7039ad3.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <skip-link></skip-link>
    <div class="app-bar__menu">
      <button id="hamburger" type="button"><i class="fa-solid fa-bars"></i></button>
    </div>
    <nav id="drawer">
      <a href="#/" class="drawer-title">Restoding</a>
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/favorites">Favorite</a></li>
        <li><a href="https://github.com/raflyherdianto" target="_blank" rel="noopener">About Us</a>
        </li>
      </ul>
    </nav>
    
  </header>

  <main>
  </main>

  <footer>
    <p>Copyright © 2022 - Restoding</p>
  </footer>

</body>

</html>