<!DOCTYPE html>
<html>

<head>
  <title>Restoding</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/main.css">
  <script src="https://kit.fontawesome.com/8dc7039ad3.js" crossorigin="anonymous"></script>
  <link rel="icon" href="./images/ico/favicon-32x32.png" />
</head>

<body>
  <a href="#content" class="skip-link">Skip to Content</a>
  <div class="wrapper">
    <nav>
      <div class="container-flex">
        <div class="brand">
            <a href="index.html">Restoding</a>
         </div>
         <div class="burger">
            <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
         </div>
         <div class="bg-sidebar"></div>
         <ul class="sidebar">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="https://www.linkedin.com/in/mochammad-rafly-h-96317b140">About Us</a></li>
         </ul>
      </div>
    </nav>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="./images/heros/hero-image_5.jpg" alt="Welcome">
    <div class="w3-display-middle w3-margin-top w3-center">
      <b class="welcome">Welcome to Restoding!</b>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">

    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects" align="center">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Explore Restaurant</h3>
    </div>

    <div class="w3-row-padding" id="content">
    
    </div>

    <!-- End page content -->
  </div>


  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>Copyright © 2022 - Restoding</p>
  </footer>
</body>

</html>