@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

header {
  height: 28px;
  padding-top: 5px;
}

main {
  padding-top: 3px;
}

main h2 {
  text-align: center;
  margin-top: 40px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: grid;
}

img {
  display: block;
}

#drawer {
  font-family: 'Nunito', sans-serif;
  width: 250px;
  height: 45%;
  position: absolute;
  transform: translate(-250px, 0);
  transition: transform 0.3s ease-in-out;
  background-color: #5800FF;
  z-index: 98;
  top: 65px;
}

#drawer.open {
  transform: translate(0, 0)
}

#drawer ul {
  list-style-type: none;
  padding: 30px 16px;
}

#drawer li {
  padding: 16px 0;
}

#drawer li:hover {
  border-radius: 4px;
  font-weight: bold;
}

#drawer a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 15px 20px;
}

#drawer .drawer-title {
  font-size: 26px;
  padding: 18px 0;
}

.drawer-title {
  display: none;
  padding: 16px;
  font-weight: bold;
  margin-left: 25%;
}

.main-title {
  text-decoration: none;
  font-weight: bold;
  color: #ffff;
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
}

.app-bar__menu {
  display: flex;
  align-items: center;
  background-color: #5800FF;
}

#hamburger {
  border: none;
  background-color: transparent;
  display: inline-block;
  font-size: 36px;
  width: 44px;
  height: 44px;
  text-decoration: none;
  margin-left: 12px;
  color: #ffff;
  text-align: center;
  z-index: 99;
  padding: 0;
}

#hamburger i {
  z-index: 0;
  width: 44px;
  height: 44px;
}

.jumbotron {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron-title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 30%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.wrapper {
  margin: 20px 5%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

a.content {
  text-decoration: none;
  color: inherit;
}

.box {
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding-bottom: 10px;
  text-align: justify;
  position: relative;
}

.box:hover {
  transform: scale(1.03);
  transition: ease-in 0.1s;
}

.box .rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #0096FF;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 6px;
  color: #ffff;
  font-size: 14px;
}

.box .city {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #0096FF;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 6px;
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
}

.box .text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box img {
  width: 100%;
  height: 240px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box p {
  padding-left: 14px;
  padding-right: 14px;
}

.box .title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #0096FF;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  color: #ffff;
}

footer {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  background: #5800FF;
  height: 60px;
  color: white;
  text-align: center;
}

@media screen and (min-width: 600px) {
  body {
    display: grid;
    grid-template-rows: 70px auto;
  }

  header {
    height: 70px;
    padding-top: 0;
    background-color: #5800FF;
  }

  #drawer {
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    transform: translate(0, 0);
  }

  #drawer ul {
    right: 0;
    padding: 0 16px;
    top: 4px;
    position: absolute;
  }

  #drawer li {
    padding: 24px 0;
    display: inline;
  }

  #drawer li:hover {
    border-radius: 0;
    font-weight: bold;
  }

  #drawer a {
    padding: 24px 20px;
  }

  .drawer-title {
    display: block;
    position: absolute;
    left: 5%;
    top: 0;
    margin-left: 0;
    padding: 16px;
  }

  .main-title {
    display: none;
  }

  .jumbotron-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 10%;
    margin-top: -3px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .wrapper {
    margin: 20px 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #hamburger {
    display: none;
  }
}

.skip-link {
  position: absolute;
  left: 0;
  top: -50px;
  background-color: #5800FF;
  color: #ffff;
  text-decoration: none;
  padding: 10px;
  z-index: 100;
  border-bottom-right-radius: 10px;
}

.skip-link:focus {
  top: 0;
}

@media screen and (min-width: 1000px) {
  .drawer-title {
    position: absolute;
    left: 10%;
    top: 0;
    margin-left: 0;
    padding: 16px;
  }

  #drawer ul {
    right: 10%;
    top: 4px;
    position: absolute;
  }

  .wrapper {
    margin: 20px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}